<div class="container">
<h3>{{page_title}}</h3>
<div class="alert alert-success col-md-12 mt-3" *ngIf="status == 'success'">
  {{mensaje}}
</div>
<div class="alert alert-danger" *ngIf="status == 'error'">
  {{mensaje}}
</div>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">
            <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" [attr.data-bs-target]="'#modalRegister'" >
              Agregar Roles
            </button>
        <!-- Modal para registro de nuevos usuarios-->
            <div class="modal fade" [attr.id]="'modalRegister'"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Creacion de roles</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="alert alert-success col-md-12 mt-3" *ngIf="status == 'success'">
                      {{mensaje}}
                    </div>
                    <div class="alert alert-danger" *ngIf="status == 'error'">
                      {{mensaje}}
                    </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <form #registerForm="ngForm" class="col-md-12 ml-0 pl-0">
                        <div class="row">
                                <div class="col-md-6">
                                  <label for="rol">Ingrese nombre para rol:</label>
                                  <input type="text" name="rol" class="form-control" #rol="ngModel"
                                    [(ngModel)]="roli.rol" required>
                                    <small *ngIf="!rol.valid && rol.touched"
                                    class="invalid-feedback d-block">
                                      Debe ingresar un nombre para el rol
                                    </small>
                                  </div>
                                </div>
                        </form>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" (click)="reload()" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" (click)="store(registerForm)" value="Registrar" class="btn btn-success ms-2" [disabled]=registerForm.invalid>
                  </div>
                </div>
              </div>
            </div>
      </th>
    </tr>
  </thead>
  </table>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Rol</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rol of resultado">
        <td>{{rol.id}}</td>
        <td>{{rol.rol}}</td>
        <td>
          <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" [attr.data-bs-target]="'#modalBorrar'+rol.id" >
              Borrar
            </button>
            <!-- MODAL DE CONFIRMACIÓN DE ELIMINACIÓN -->
            <div class="modal fade" [attr.id]="'modalBorrar'+rol.id"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro quieres borrar el rol seleccionado?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Vas a borrar definitivamente el rol de {{rol.rol}} ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                    <a  (click)="destroy(rol.id)" class="btn btn-danger ms-2" data-bs-dismiss="modal">Borrar</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN MODAL DE CONFIRMACIÓN DE ELIMINACIÓN-->
        </td>
    </tr>
  </tbody>
</table>
</div>
